# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python test outputs
test_results/

# Coverage reports
.coverage
htmlcov/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp

# Other files
*.DS_Store
*.egg-info/
dist/
build/
.env
